= javascript_include_tag "application"
= stylesheet_link_tag "application"
%script{src: "https://cdn.jsdelivr.net/npm/sweetalert2@11.1.4/dist/sweetalert2.min.js"}
%link{href: "https://cdn.jsdelivr.net/npm/sweetalert2@11.1.4/dist/sweetalert2.min.css", rel: "stylesheet"}
%script{src: "https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"}
%link{href: "https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css", rel: "stylesheet"}
%script{src: "https://unpkg.com/xlsx/dist/xlsx.full.min.js"}
%script{src: "https://unpkg.com/file-saver/dist/FileSaver.min.js"}
.container
  .row
    .col-md-12
      %h1 Lists all products
      %button#btnExportExcel.btn.btn-info{type: "button"}
        Export to Excel
      -# %button#btnExportPdf.btn.btn-danger{type: "button"}
      -#   Export to PDF
      %p
      %table#myTable.table.table-hover.table-striped.table-bordered
        %thead
          %tr
            %th{scope: "col", :style => "width: 3%"} #ID
            %th{scope: "col", :style => "width: 22%"} Name
            %th{scope: "col", :style => "width: 15%"} Price
            %th{scope: "col", :style => "width: 15%"} Quantity
            %th{scope: "col", :style => "width: 25%"} Description
            %th{scope: "col", :style => "width: 10%"} ON / OFF
            %th{scope: "col", :style => "width: 10%"} Action
        %tbody
          - @products.each_with_index do |prod, index|
            %tr
              %td= index + 1
              %td.view-product{:id => "#{prod.id}"}
                = prod.name
              %td= prod.price
              %td= prod.quantity
              %td= prod.description
              %td.text-center
                %span{:class => (prod.is_deleted == true ? 'off' : 'on')}= (prod.is_deleted == true ? "OFF" : "ON")
              %td{:style => "text-align: center"}
                %input.btn.btn-warning.btn-sm.btn-before-update{:type => "button", :value => "Update", :id => "#{prod.id}"}
.container
  .row
    .text-center
      %input.btn.btn-primary#btnNew{:type => "button", :value => "+"}


