= form_with model: @product, url: product_save_path(@product), method: :post do |form|
  = form.label :name
  = form.text_field :name
  %br
  %br
  = form.label :price
  = form.number_field :price
  %br
  %br
  = form.label :quantity
  = form.number_field :quantity
  %br
  %br
  = form.label :description
  = form.text_area :description
  %br
  %br
  = form.submit "Save"
  = form.button "Back", type: :button, onclick: "window.location='#{index_path}'"

